$main-type_width: 150px;

.affinities {
    width: 100%;
    font-size: 0;

    caption {
        display: none;
    }
}

.affinity {
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    width: 100%;
    padding: 8px;
    box-sizing: content-box;
    align-items: center;

    &:hover {
        background: #eef;
    }

    th,
    td {
        vertical-align: middle;
        display: inline-block;
    }

    .main-type {
        width: $main-type_width;
        text-align: center;
        vertical-align: middle;
        order: 2;
    }

    .carac {
        width: calc(50vw - #{$main-type_width / 2});

        > table {
            width: 100%;
        }

        &.defense {
            order: 1;

            .strength {
                flex-direction: row-reverse;
                text-align: right;
            }

            .type-list {
                display: flex;
                flex-direction: row-reverse;
                flex-wrap: wrap;
            }
        }

        &.attack {
            order: 3;
        }
    }

    .strength {
        display: flex;
        align-items: center;

        > .icon {
            min-width: 20px;
            width: 20px;
            height: 20px;
            border-radius: 20px;
            flex-basis: 20px;
        }

        &.weak {
            color: #e74c3c;
        }

        &.strong {
            color: #27ae60;
        }
    }

    .type-wrapper {
        padding: 3px;
        display: inline-block;

        &.imune {
            .type {
                opacity: 0.5;
            }
        }
    }
}