.type {
    display: inline-block;
    height: 20px;
    border-radius: 20px;
    min-width: 50px;
    padding: 0 5px;
    box-sizing: border-box;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    font-family: Arial, sans-serif;
    font-size: 16px;
    position: relative;
    padding-left: 28px;

    .icon {
        color: #fff;
        padding: 5px;
        box-sizing: border-box;
        width: 25px;
        height: 25px;
        display: inline-block;
        position: absolute;
        left: 0;
        border-radius: 25px;
        top: 50%;
        margin-top: -12.5px;

        svg {
            height: 100%;
            width: 100%;
        }
    }
}