$type-bug: #9fb237;
$type-dark: #6f5344;
$type-dragon: #7e67ea;
$type-electric: #fecb46;
$type-fairy: #ffa6fc;
$type-fighting: #b05646;
$type-fire: #ff4527;
$type-flying: #6895fc;
$type-ghost: #6360b0;
$type-grass: #74cc5f;
$type-ground: #dcbb5d;
$type-ice: #76dbfe;
$type-normal: #b9baa9;
$type-poison: #a95495;
$type-psychic: #ff5395;
$type-rock: #b9a96a;
$type-steel: #a9a8b9;
$type-water: #3995fc;